-e git+https://github.com/openeduITMO/ifmo-xblock-framework@b659c81b082f5b1a14ad129debf665886eba792e#egg=ifmo-xblock-framework==4.0
-e git+https://github.com/openeduITMO/ifmo-submissions@e2dd75d2e101b0b4dfb689cad49350c172ac1ee7#egg=ifmo-submissions==4.1
-e git+https://github.com/openeduITMO/ifmo-xqueue-api@2e3af7119384bd54c47e0a286dd82272a06e8cdf#egg=ifmo-xqueue-api==4.1.1
