-e git+https://github.com/openeduITMO/ifmo-xblock-framework@ff08be4fe06c6268093efe5c48e97555c1616e1c#egg=ifmo-xblock-framework==4.1
-e git+https://github.com/openeduITMO/ifmo-submissions@e2dd75d2e101b0b4dfb689cad49350c172ac1ee7#egg=ifmo-submissions==4.1
-e git+https://github.com/openeduITMO/ifmo-xqueue-api@902c1c34ff28288c50700058f1fd74ca7cea7379#egg=ifmo-xqueue-api==4.2
