<section class="ifmo-xblock-student">

    <script type="text/template" class="ifmo-xblock-template-base">
        <h2 class="problem-header"><%= meta.name %></h2>
        <div class="problem-progress"><%= student_state.score.string %></div>

        <% if (task_status == 'QUEUED') { %>
            <div class="ifmo-xblock-message ifmo-xblock-message-info %>">
                Your submission is queued for grading.
            </div>
        <% } %>

        <div class="task"><%= meta.text %></div>

        <% if (typeof message != 'undefined') { %>
        <div class="ifmo-xblock-message ifmo-xblock-message-<%= message.type %>"><%= message.text %></div>
        <% } %>

    {% if not student_state.is_studio %}

        <% if (allow_submissions) { %>

            <% if (task_status == 'IDLE') { %>
                <div class="controllers">
                    <div class="upload_container"></div>
                </div>
            <% } else { %>
                <!--<div class="ifmo-xblock-message ifmo-xblock-message-info">Your submission is queued for grading.</div>-->
            <% } %>

        <% } else { %>
            <div class="ifmo-xblock-message ifmo-xblock-message-info">
                Submissions are no longer accepted.
            </div>
        <% } %>

    {% endif %}

    </script>

    <script type="text/template" class="scilab-template-upload-input">
        <div class="button upload_input">
            <span>Choose file</span>
            <input class="file_upload" type="file" name="submission"/>
        </div>
    </script>

    <script type="text/template" class="scilab-template-upload-selected">
        <button class="button upload_another">Select another file</button>
        <button class="button button-highlighted upload_do" data-in-progress="Uploading... ">Upload <%= filename %></button>
    </script>

    <div class="ifmo-xblock-content problem">
        Подождите, задание загружается...
        <pre>{{context}}</pre>
    </div>

</section>