<div class="ifmo-xblock-editor" data-metadata="{{ metadata }}">

    <script type="text/template" class="ifmo-xblock-template-base">

        <div class="wrapper-comp-settings is-active" data-metadata="">
            <ul class="list-input settings-list">

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_display_name" class="label setting-label">Display name</label>
                        <input id="input_{{id}}_display_name" class="input setting-input" type="text" name="display_name" value="<%= display_name %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_queue_name" class="label setting-label">Queue name</label>
                        <input id="input_{{id}}_queue_name" class="input setting-input" type="text" name="queue_name" value="<%= queue_name %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_weight" class="label setting-label">Weight</label>
                        <input id="input_{{id}}_weight" class="input setting-input" type="text" name="weight" value="<%= weight %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_attempts" class="label setting-label">Attempts</label>
                        <input id="input_{{id}}_attempts" class="input setting-input" type="text" name="attempts" value="<%= attempts %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_instructor_checker" class="label setting-label">Instructor checker archive</label>
                        <div class="ifmo-xblock-scilab-studio-checker-container">
                                <input id="input_{{id}}_instructor_checker" class="setting-input ifmo-xblock-scilab-studio-checker-file" type="file" name="instructor_checker"/>
                                <div class="ifmo-xblock-scilab-studio-checker-selected">No checker selected</div>
                        </div>
                        <input type="button" class="upload_instructor_checker ifmo-xblock-scilab-studio-checker-upload" value="Upload">
                    </div>
                    <span class="tip setting-help">Архив инструктора должен содержать файл <b>checker.sce</b>. Этот сценарий должен создать файл <b>checker_output</b>, содержащий вещественное число от 0 до 1.</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_description" class="label setting-label">Description</label>
                        <textarea id="input_{{id}}_description" class="input text setting-input" name="description"><%= description %></textarea>
                    </div>
                </li>

            </ul>
        </div>

    </script>

    <div class="ifmo-xblock-content"></div>

</div>