<div class="ifmo-xblock-editor" data-metadata="{{ metadata }}">

    <script type="text/template" class="ifmo-xblock-template-base">

        <div class="wrapper-comp-settings is-active" data-metadata="">
            <ul class="list-input settings-list">

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_display_name" class="label setting-label">Отображаемое имя</label>
                        <input id="input_{{id}}_display_name" class="input setting-input" type="text" name="display_name" value="<%= display_name %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_queue_name" class="label setting-label">Имя очереди</label>
                        <input id="input_{{id}}_queue_name" class="input setting-input" type="text" name="queue_name" value="<%= queue_name %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_weight" class="label setting-label">Вес</label>
                        <input id="input_{{id}}_weight" class="input setting-input" type="text" name="weight" value="<%= weight %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_attempts" class="label setting-label">Количество попыток</label>
                        <input id="input_{{id}}_attempts" class="input setting-input" type="text" name="attempts" value="<%= attempts %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_instructor_archive" class="label setting-label">Архив инструктора</label>
                        <div class="ifmo-xblock-scilab-studio-archive-container">
                                <input id="input_{{id}}_instructor_archive" class="setting-input ifmo-xblock-scilab-studio-archive-file" type="file" name="instructor_archive"/>
                                <div class="ifmo-xblock-scilab-studio-archive-selected" data-status="empty">Архив не выбран</div>
                        </div>
                        <input type="button" class="upload_instructor_archive ifmo-xblock-scilab-studio-archive-upload" value="Отправить">
                    </div>
                    <span class="tip setting-help">Архив инструктора должен содержать файл <b>check.sce</b>. Этот сценарий должен создать файл <b>check_output</b>, содержащий вещественное число от 0 до 1.
                        Архив также может содержать сценарий с именем <b>generate.sce</b>, создающий файл <b>pregenerated</b>.</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_description" class="label setting-label">Текст задания</label>
                        <textarea id="input_{{id}}_description" class="input text setting-input" name="description"><%= description %></textarea>
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_time_limit_generate" class="label setting-label">Лимит времени на генерацию</label>
                        <input id="input_{{id}}_time_limit_generate" class="input setting-input" type="text" name="time_limit_generate" value="<%= time_limit_generate %>" />
                    </div>
                    <span class="tip setting-help">Максимальное время в секундах, отведённое на генерацию варианта задания. Если не задано, то используется значение по умолчанию 10 секунд.</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_time_limit_execute" class="label setting-label">Лимит времени на исполнение</label>
                        <input id="input_{{id}}_time_limit_execute" class="input setting-input" type="text" name="time_limit_execute" value="<%= time_limit_execute %>" />
                    </div>
                    <span class="tip setting-help">Максимальное время в секундах, отведённое на исполнение пользовательского решения. Если не задано, то используется значение по умолчанию 10 секунд.</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="input_{{id}}_time_limit_check" class="label setting-label">Лимит времени на проверку</label>
                        <input id="input_{{id}}_time_limit_check" class="input setting-input" type="text" name="time_limit_check" value="<%= time_limit_check %>" />
                    </div>
                    <span class="tip setting-help">Максимальное время в секундах, отведённое на проверку пользовательского решения. Если не задано, то используется значение по умолчанию 10 секунд.</span>
                </li>

            </ul>
        </div>

    </script>

    <div class="ifmo-xblock-content"></div>

</div>