<section class="ifmo-xblock-student xmodule_display xmodule_CapaModule "
         data-student-state="{{student_state}}"
         data-do-accept-submissions="{{do_accept_submissions}}"
         data-message="{{message}}"
         data-message-type="{{message_type}}"
         {% if is_staff %}data-is-staff="True"{% endif %}
>

    <script type="text/template" class="ifmo-xblock-template-base">
        <h2 class="problem-header"><%= meta.name %></h2>
        <div class="problem-progress"><%= score.string %></div>

        <% if (task_status == 'QUEUED') { %>
            <div class="ifmo-xblock-message ifmo-xblock-message-info %>">
                Your submission is queued for grading.
            </div>
        <% } %>

        <div><%= meta.text %></div>

        <hr />

        {% if do_accept_submissions %}
        <div class="controllers">
            <div class="upload_container"></div>
        </div>

        {% else %}
            <b>Submissions are not longer accepted.</b>
        {% endif %}

    </script>

    <script type="text/template" class="scilab-template-upload-input">
        <div class="button upload_input">
            <span>Choose file</span>
            <input class="file_upload" type="file" name="submission"/>
        </div>
    </script>

    <script type="text/template" class="scilab-template-upload-selected">
        <button class="button upload_another">Select another file</button>
        <button class="button button-highlighted upload_do" data-in-progress="Uploading... ">Upload <%= filename %></button>
    </script>

    <div class="ifmo-xblock-content problem">
        Подождите, задание загружается...
        <pre>{{student_state}}</pre>
    </div>

    {% if is_staff %}
        {% if not is_studio %}
            <hr/>

            <div class="wrap-instructor-info">
                <a class="instructor-info-action" href="#{{id}}-tools-modal" id="{{id}}-tools-button">Инструменты инструктора</a>
                <a class="instructor-info-action" href="#{{id}}-debug-modal" id="{{id}}-debug-button">Отладочная информация</a>
            </div>

            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-debug-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Отладочная информация</h2></header>
                    <div>&nbsp;</div>
                    <table>
                        <tr>
                            <th>id</th>
                            <td>{{id}}</td>
                        </tr>
                        <tr>
                            <th>location</th>
                            <td>{{location}}</td>
                        </tr>
                        <tr>
                            <th>weight</th>
                            <td>{{weight}}</td>
                        </tr>
                    </table>
                    <hr/>
                </div>
            </section>

            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-tools-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Инструменты инструктора</h2></header>
                    <div>&nbsp;</div>
                    <div>
                        <label for="{{id}}-staff-user-input">Имя пользователя: </label>
                        <input type="text" id="{{id}}-staff-user-input" name="user">
                        <input type="button" value="Получить" class="button staff-get-state-btn" id="{{id}}-staff-get-state-button"/>
                        <input type="button" value="Сбросить" class="button staff-reset-state-btn" id="{{id}}-staff-reset-state-button"/>
                        <input type="button" value="Перепроверить" class="button staff-update-state-btn disabled" id="{{id}}-staff-update-state-button" disabled="disabled"/>
                    </div>
                    <hr/>
                    <div id="{{id}}-staff-info">
                        <p>Состояние пользователя</p>
                        <div class="staff-info-container" style="max-height: 600px; overflow-y: scroll;">
                            <pre>{{state}}</pre>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

</section>