.ifmo-xblock-scilab-studio-archive-container {
    width: 30%;
    height: 43px;
    border: 1px solid darkgray;
    background-color: lightgray;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.ifmo-xblock-scilab-studio-archive-file {
    opacity: 0;
    width: 100% !important;
    height: 100%;
    position: absolute;
    padding: 0 !important;
    cursor: pointer;
}

.ifmo-xblock-scilab-studio-archive-selected {
    padding: 10px;
    display: inline-block;
}

.ifmo-xblock-scilab-studio-archive-upload {
    width: 14% !important;
}