.staff-modal table {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

.staff-modal td, .staff-modal th {
    padding: 1em;
}

.staff-modal tr {
    border-bottom: 1px solid darkgray;
}

.staff-modal table tbody tr:nth-child(2n + 1) {
    background-color: lightgrey;
}

.staff-modal table.selectable tbody tr {
    opacity: 0.7;
}

.staff-modal table.selectable tbody tr:hover {
    cursor: pointer;
    opacity: 1;
}

.staff-modal table.vertical {
    text-align: left;
}

.staff-modal table.vertical th {
    width: 33%;
}